@include gaps-list;
@include flexes-list;

@include text-color-list($colors);
@include font-sizes-list;

@include positions-list;
@include z-indexes-list;

@include dimensions-list;

@include object-fit-list;
@include object-position-list;


.sticky {
    position: sticky;
    top: 0;
}

.reset-btn {
    @include reset-btn;
}

.reset-list {
    @include reset-list;
}

.grayscale {
    filter: grayscale(1);
    transition: 0.5s;
}